<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Swappy</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/formularios.css">
  <link rel="icon" type="image/png" href="/img/logotitle.jpg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />

</head>
<body>
  <header>
    <div class="header-top">
      <a href="/api/v1/productos">
        <img src="/img/logo.png" alt="logo">
      </a>      
      <nav>
        <span th:if="${logueado}">
          <a href="#" id="toggle-favorites">Favoritos</a>
          <a href="#" id="toggle-carrito">Carrito</a>
          <a href="/api/v1/puntosEnvio">Puntos de envío</a>
          <a href="/api/v1/perfil">Mi Perfil</a>
          <a href="/api/registro/logout">Cerrar sesión</a>
        </span>
        <span th:unless="${logueado}">
          <a href="/api/registro/registro">Regístrate o Inicia sesión</a>
        </span>

        <button class="search-button">
          <a href="/api/v1/agregarProducto">Vender ya</a>
        </button>
      </nav>
    </div>
  </header>

<div th:if="${logueado}" id="favorites-panel" class="favorites-panel hidden">
  <div class="favorites-header">
    <h3>Mis Favoritos</h3>
    <button id="close-favorites" class="close-button">×</button>
  </div>
  <div th:if="${productosFavoritos == null}">
    <p>No tienes productos favoritos.</p>
  </div>
  <div class="favorites-list" id="favorites-list">
    <div th:if="${productosFavoritos != null}">
      <div th:each="producto : ${productosFavoritos}" class="favorite-item">
        <img th:src="@{'/uploads/' + ${producto.imagen}}" alt="Imagen del producto" />
        <div class="favorite-details">
          <h4 th:text="${producto.nombre}"></h4>
          <p th:text="${producto.descripcion}"></p>
          <span class="price" th:text="${producto.precio + ' €'}"></span>
          <button 
              type="button" 
              class="delete-favorite" 
              th:attr="onclick=|eliminarFavorito(${producto.id})|">
            Eliminar
          </button>

          <button 
              type="button"
              class="add-to-cart-favorites"
              th:attr="onclick=|agregarAlCarritoDesdeFavoritos(${producto.id})|">
            Añadir al carrito
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div th:if="${logueado}" id="carrito-panel" class="carrito-panel hidden">
  <div class="carrito-header">
    <h3>Mi Carrito</h3>
    <button id="close-carrito" class="close-button">×</button>
  </div>
  <div class="carrito-list" id="carrito-list">
    <div th:if="${productosEnCarrito != null}">
      <div th:each="producto : ${productosEnCarrito}" class="carrito-item">
        <img th:src="@{'/uploads/' + ${producto.imagen}}" alt="Imagen del producto" />
        <div class="carrito-details">
          <h4 th:text="${producto.nombre}"></h4>
          <p th:text="${producto.descripcion}"></p>
          <span class="price" th:text="${producto.precio + ' €'}"></span>
          <div class="carrito-buttons">
            <button type="button"
              class="delete-favorite"
              th:attr="onclick=|eliminarDelCarrito(${producto.id})|">
              Eliminar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <form th:action="@{/api/v1/productos}" method="post">
    <button type="submit" class="realizar-compra" id="btncrearCompra">Realizar compra</button>
  </form>
</div>

  
  <div class="hero">
    <div class="card-hero">
      <h2>¿Quieres hacer limpieza de productos que ya no uses?</h2>
      <a href="/api/v1/agregarProducto" class="btn-vender">Vender ya</a>
    </div>
  </div>
  <div class="text">
    <h1>Busca los mejores productos de segunda mano</h1>
  </div>
<div class="search-container">
  <input type="text" id="terminoBusqueda" class="search-input" placeholder="Buscar productos...">
  <button type="button" class="search-button" id="searchButton">Buscar</button>
</div>

<div id="resultados-busqueda"></div>

<div id="mensaje-aviso" class="mensaje-aviso" style="display:none;"></div>

<div class="container">
  <h2>Productos destacados</h2>
  <div class="products" id="products-container">
    <div th:each="producto : ${productos}" 
         class="card" 
         th:attr="data-id=${producto.id}">
      <img th:src="@{'/uploads/' + ${producto.imagen}}" alt="Imagen del producto" />
      <h3 th:text="${producto.nombre}"></h3>
      <p th:text="${producto.descripcion}"></p>
      <span class="price" th:text="${#strings.concat(producto.precio, ' €')}"></span>
      <div class="botones">
        <button th:if="${session.token != null}"
                type="button"
                class="add-to-cart-product"
                th:attr="onclick=|agregarAlCarrito(${producto.id})|">
          Añadir al carrito
        </button>
        <button th:if="${session.token != null}" 
                type="button" 
                class="me-gusta" 
                th:attr="onclick=|agregarAFavoritos(${producto.id})|">
          <i class="fas fa-heart"></i>
        </button>
      </div>
    </div>
  </div>
</div>
  

<footer class="footer">
    <div class="footer-top">
      <div class="footer-logo">
        <img src="/img/logo.png" alt="Logo" />
        <p>© Swappy. Todos los derechos reservados</p>
      </div>
  
      <div class="footer-links">
        <div>
          <h4>Swappy</h4>
          <ul>
            <li><a href="#">Quiénes somos</a></li>
            <li><a href="#">Cómo funciona</a></li>
            <li><a href="#">Brand Book</a></li>
            <li><a href="#">Prensa</a></li>
            <li><a href="#">Empleo</a></li>
            <li><a href="#">Sostenibilidad</a></li>
          </ul>
        </div>
        <div>
          <h4>Soporte</h4>
          <ul>
            <li><a href="#">Centro de ayuda</a></li>
            <li><a href="#">Normas de la comunidad</a></li>
            <li><a href="#">Consejos de seguridad</a></li>
          </ul>
        </div>
        <div>
          <h4>Legal</h4>
          <ul>
            <li><a href="#">Aviso legal</a></li>
            <li><a href="#">Condiciones de uso</a></li>
            <li><a href="#">Política de privacidad</a></li>
            <li><a href="#">Política de Cookies</a></li>
          </ul>
        </div>
        <div>
          <h4>Motor</h4>
          <ul>
            <li><a href="#">Particular</a></li>
            <li><a href="#">Profesional</a></li>
          </ul>
        </div>
        <div>
          <h4>Swappy Pro</h4>
          <ul>
            <li><a href="#">Impulsa tu negocio</a></li>
          </ul>
        </div>
      </div>
    </div>
  
  <div class="store-links">
    <a href="#"><i class="fab fa-apple"></i> Apple Store</a>
    <a href="#"><i class="fab fa-google-play"></i> Google Play</a>
    <a href="#"><i class="fas fa-mobile-alt"></i> AppGallery</a>
  </div>



</footer>
<script th:inline="javascript">
  /*<![CDATA[*/
  const sessionToken = /*[[${logueado != null}]]*/ false;
  /*]]>*/
</script>


<script src="/js/buscador.js"></script>

<script src="/js/script.js"></script>
<script src="/js/carrito.js"></script>
</body>
</html>
